/* // result */
.result-wrap {
  background-color: #eee;
  padding-top: 30px;
}

.result-list {
  display: flex;
  flex-wrap: wrap;
}

.result-item {
  @include transition();
  position: relative;
  display: flex;
  flex-direction: column;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;
  background-color: white;
  padding: 20px;
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  user-select: none;
  cursor: default;

  // default-view
  .default-view {
    position: relative;

    .detail-link {
      position: absolute;
      right: 0;
      top: -5px;
      color: #666;
      font-size: 14px;
      text-decoration: underline;
      line-height: 1;
      z-index: 5;
    }

    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      height: 200px;

      img {
        @include transition();
        max-width: 90%;
        max-height: 90%;
      }
    }

    .desc {
      margin-bottom: 15px;

      .desc-row {
        display: flex;
        margin-top: 15px;

        .desc-title {
          margin-right: 20px;
          min-width: 55px;
        }

        .desc-content {
          color: $gray;
          font-size: 14px;
          flex-grow: 1;

          .price-content {
            display: flex;

            strong {
              font-size: 16px;
              font-weight: 400;
              color: black;

              &.highlight {
                color: $primary;
              }
            }

            div {
              flex: 1;
              text-align: center;
            }

            a {
              color: #666;
              text-decoration: underline;
              font-size: 12px;
            }
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }

  /* // shared */
  .detail-view,
  .price-view {
    @include transition();
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: white;
    background-color: #242424;
    opacity: 0;
    z-index: 9;

    &.open {
      top: 0;
      opacity: 1;
    }

    .close-icon {
      @include transition();
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 35px;
      opacity: 0.4;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    h4 {
      margin: 10px 0 20px 0;
      font-size: 22px;
      font-weight: 400;
    }

    p {
      margin: 0;
      font-size: 14px;
    }
  }

  // detail-view
  .detail-view {
    .detail-table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
      color: white;
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      background-color: rgba(255, 255, 255, 0.4);

      th {
        font-size: 14px;
        text-align: center;
        padding: 10px;
      }

      td {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        text-align: center;
        font-size: 14px;
        padding: 15px 10px;
      }
    }
  }

  // price-view
  .price-view {
    .price-chart {
      margin-top: 20px;
      background-color: rgba(255, 255, 255, 0.4);

      li {
        padding: 15px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
      }
    }
  }

  .select-button {
    margin-top: auto;
    margin-bottom: 0;
    text-transform: uppercase;
    z-index: 9;
  }

  &:hover {
    box-shadow: 3px 3px 2px -1px rgba(0, 0, 0, 0.15);

    .image {
      img {
        transform: scale(1.03);
      }
    }
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
}
