.resultWrap {
  background-color: #eee;
  padding-top: 30px;
}

.resultList {
  display: flex;
  flex-wrap: wrap;
}

.resultEmpty {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  font-size: 18px;
}

img {
  max-width: 90%;
  max-height: 90%;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 200px;
}

.desc {
  margin-bottom: 15px;
}

.descRow {
  display: flex;
  margin-top: 15px;
}

.descTitle {
  margin-right: 20px;
  min-width: 55px;
}

.descContent {
  color: #999;
  font-size: 14px;
  flex-grow: 1;
}

.priceContent {
  display: flex;
}

strong {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.highlight {
  color: #d80909;
}

.divContainer {
  flex: 1;
  text-align: center;
}

a {
  color: #666;
  text-decoration: underline;
  font-size: 12px;
}

.detailView {
  transition: all 1s ease-out;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: white;
  background-color: #242424;
  opacity: 0;
  z-index: 9;
}

.priceView {
  transition: all 1s ease-out;
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: white;
  background-color: #242424;
  opacity: 0;
  z-index: 9;
}

.open {
  top: 0;
  opacity: 1;
}

.closeIcon {
  transition: all 1s ease-out;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 35px;
  opacity: 0.4;
  cursor: pointer;
}

h4 {
  margin: 10px 0 20px 0;
  font-size: 22px;
  font-weight: 400;
}

.detailTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
}

.thStyle {
  font-size: 14px;
  text-align: center;
  padding: 10px;
}

.tdStyle {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 14px;
  padding: 15px 10px;
}

.priceChart {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}

.liStyle {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.selectButton {
  margin-top: auto;
  margin-bottom: 0;
  text-transform: uppercase;
  z-index: 9;
}
