@value primaryFontColor,
  secondaryFontColor,
  borderColor from "SharedStyles/globalStyles.css";
@value smallBP, mediumBP, largeBP from "SharedStyles/globalStyles.css";

/**
 * NavigationBar styles
 */

.navigationBar {
  border-top: 1px solid borderColor;
  border-bottom: 1px solid borderColor;
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;

  @media smallBP {
    font-size: 5px;
    padding: 0px 6px;
  }
}

.links {
  display: block;
  padding: 0px 15px;
  height: 38px;
  line-height: 38px;
  text-decoration: none;
  font-size: 14px;
  color: secondaryFontColor;
  user-select: none;
  transition: color 0.3s;
}

.links:hover {
  color: primaryFontColor;
}

.linkActive {
  color: primaryFontColor;
  background-color: #f9f9f9;
}

.container {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-right: 25px;
  /* margin-left: 25px; */
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.title {
  margin-left: 15px;
  font-size: 14px;
  font-weight: 700;
}

.signInLink {
  color: primaryFontColor;
  text-decoration: none;
}

.signInBtn {
  padding-left: 0px;
  padding-right: 0px;
  height: 40px;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
}

.subMenu {
  z-index: 1;
  padding: 10px 0px;
  position: absolute;
  top: 42px;
  right: 0px;
  width: 240px;

  background-color: white;
  border: 1px solid borderColor;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media smallBP {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
  }
}

.frontNaviSubMenu {
  /* z-index: 1;
  padding: 10px 0px;
  position: absolute;
  top: 42px;
  right: 0px;
  width: 240px;

  background-color: white;
  border: 1px solid borderColor;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media smallBP { */
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
}

.subMenuItem {
  width: 100%;
  color: secondaryFontColor;
  text-decoration: none;
  text-align: center;
  line-height: 32px;

  &:hover {
    color: primaryFontColor;
  }

  @media smallBP {
    color: primaryFontColor;
    line-height: 42px;
  }
}

.subMenuClose {
  position: absolute;
  top: 10px;
  right: 10px;

  @media mediumBP {
    display: none;
  }
  @media largeBP {
    display: none;
  }
}

.gitLoginBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}

.subMenuOcto {
  font-size: 24px;
  margin-right: 15px;
}

.frontNavi {
  z-index: 1;
  display: flex;
}

.rowNavi {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 0px;
  padding: 0px;
}
