/* logo */
.logoContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.logo {
  width: 65px;
  height: 65px;
  border-radius: 10%;
}

.logoTitle {
  margin-left: 14px;
  font-size: 22px;
  font-weight: 400;
  font-family: sans-serif;
}
