@value largeBP,
  borderColor,
  secondaryFontColor from "SharedStyles/globalStyles";

.search-container {
  padding: 30px 0;
  background: url("http://yale.demo5.cn/static/images/bg_search-80e1140895.jpg")
    center no-repeat;
  background-size: cover;
  color: rgb(158, 34, 34);
}
.content {
  margin-top: 10px;
  position: relative;
}

.forumName {
  font-weight: bold;
}

.errorMsg {
  margin-top: 5px;
  color: rgba(231, 76, 60, 1);
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
}

.fatalError {
  margin-top: 20px;
  text-align: center;
}

.titleInput {
  margin: 20px 0px 0px 0px;
  padding: 10px 10px;
  width: 100%;
  border: none;
  outline: none;
  background-color: none;
  font-size: 20px;
  font-weight: 300;
  /*border-bottom: 1px solid borderColor;*/
}

.dateInput {
  margin: 6px 0px 0px 0px;
  padding: 10px 10px;
  width: 100%;
  border: none;
  outline: none;
  background-color: none;
  font-size: 16px;
  font-weight: 300;
  /*border-bottom: 1px solid borderColor;*/
}

.signInMsg {
  padding: 80px 0px;
  color: secondaryFontColor;
  text-align: center;
}

.postingMsg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.8);
}

.styledSelect {
  /* background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0; */
  height: 29px;
  overflow: hidden;
  width: 240px;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  height: 20%;
  border: 1px dashed rgba(33, 24, 24, 0.76);
}
